// table card style
.table-card-with-pagination {
  .t-card__body {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 0 !important;
  }
}

// text btn style
.t-text-btn {
  padding: 0;
  border: none;
}
.t-text-btn + .t-text-btn {
  margin-left: 8px;
}
